node_modules
config.local.json
.env
dump.rdb
app.json
images
images/*
imagenesComprobantes
imagenesComprobantes/*
listaGirosProcesados.json
logs
logs/*
.log
dist
dist/*
.vscode/

# Yarn 3 files
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions