node_modules
config.local.json
.env
dump.rdb
app.json
images
images/*
logs
logs/*
.log
dist
dist/*
temp
temp/*

# Yarn 3 files
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# VisualStudioCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json